--
-- PostgreSQL database dump
--

\restrict zpMRKveR0cqyUg6Sh36f9fGqkPn4uDBm2w11QtOzJRhE9CXtZvozZVfhbrQfgkS

-- Dumped from database version 15.14
-- Dumped by pg_dump version 15.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgresf
--

COPY public.products (id, slug, name, base_price, category, short_desc, ready_to_ship, width_mm, height_mm, depth_mm, observation, grams, hours, profit, gross_price, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: featured_products; Type: TABLE DATA; Schema: public; Owner: postgresf
--

COPY public.featured_products (id, product_id, display_order, active, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: images; Type: TABLE DATA; Schema: public; Owner: postgresf
--

COPY public.images (id, product_id, url, alt, created_at) FROM stdin;
\.


--
-- Data for Name: variants; Type: TABLE DATA; Schema: public; Owner: postgresf
--

COPY public.variants (id, product_id, material, color, layer_height_mm, infill_pct, created_at, updated_at) FROM stdin;
\.


--
-- PostgreSQL database dump complete
--

\unrestrict zpMRKveR0cqyUg6Sh36f9fGqkPn4uDBm2w11QtOzJRhE9CXtZvozZVfhbrQfgkS

